<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="off" monitorInterval="1800">

  <properties>
    <property name="LOG_HOME">/opt/logs/gct/shoppromo/logs</property>
    <property name="ERROR_LOG_FILE_NAME">error</property>
  </properties>


  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <!--<PatternLayout pattern="%d %-5p (%F:%L) - %m%n" />-->
      <PatternLayout pattern=":%m%n" />
    </Console>

   </Appenders>

  <Loggers>
    <!-- 3rdparty Loggers -->
    <logger name="org.apache.zookeeper" level="error" />
    <logger name="top.zhubaiju" level="info" />

    <root level="info" includeLocation="true">
      <appender-ref ref="Console"/>
    </root>
  </Loggers>
</Configuration>